{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>TODO</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1>To-Do</h1>
        </div>
        <div class="nav-link">
            <a href="{% url 'login' %}"><button>Login</button></a>
            <a href="{% url 'register' %}" ><button>Sign up</button></a>
        </div>
    </div>
    <div class="container">
        <h1>WORK TO DO</h1>
        <div class="content">
        <p class="home-des">"Empower your productivity with our sleek todo app – where ideas flourish into accomplishments.<br>
             Seamlessly manage tasks, prioritize goals, and conquer your day with efficiency. Elevate your workflow effortlessly,<br>
              leaving room for inspiration and success. Your journey to productivity starts here!"</p>
        </div>
        <div class="home-btn">
            <a href="{% url 'login' %}"><button>Get Started</button></a>
            <a href="{% url 'register' %}" ><button>Sign up</button></a>
        </div>
    </div>
</body>
</html>